.navbar {
  display: flex;
  height: 5.938rem;
  width: 100%;
  background-color: #ffff;
  align-items: center;
  border-bottom: solid 1px #e8e8e8;
  margin-bottom: 10px;
}

.logo {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 5%;
  top: 6%;
}

.logo-title {
  color: #000;
  font-size: 1.875rem;
  font-weight: bold;
  margin: 0.375rem 40rem 0.125rem 7.25rem;
}

.NavLinks {
  display: flex;
  list-style-type: none;
  margin-right: 5%;
  gap: 10%;
}

/*
  missions
*/
.missions {
  width: 95%;
  margin: auto;
  text-align: left;
}

table {
  border: none;
}

.missions-table {
  border: 1px solid rgb(180, 180, 180);
}

.missions-table tr:nth-child(even) {
  background-color: rgb(204, 204, 204);
}

.missions-table tr:nth-child(odd) {
  background-color: rgb(24, 24, 24, 0.85);
  color: #fff;
}
tr {
  width: 100%;
}

td {
  padding: 5px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

table th {
  padding: 15px;
}

.member,
.notMember,
.join-mission,
.leave-mission {
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
}

.member {
  background-color: rgb(1, 164, 214);
  font-size: 15px;
  padding: 2px;
  font-weight: 500;
}

.notMember {
  background-color: rgb(66, 66, 66);
  font-size: 14px;
  padding: 2px;
}

.status,
.mission-status {
  text-align: center;
}

.status > p {
  box-shadow: 0 0 0 1px #fff;
}

.join-mission {
  background-color: rgb(255, 255, 255);
  color: #000;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  box-shadow: 0 0 0 1px rgb(177, 253, 177);
  border: none;
}

.leave-mission {
  color: red;
  box-shadow: 0 0 0 1px red;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  border: none;
}

.description {
  text-align: justify;
  padding: 10px;
  font-size: 15px;
}
