.navbar {
  display: flex;
  height: 5.938rem;
  width: 100%;
  background-color: #ffff;
  align-items: center;
  border-bottom: solid 1px #e8e8e8;
}

.logo {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 5%;
  top: 6%;
}

.logo-title {
  color: #000;
  font-size: 1.875rem;
  font-weight: bold;
  margin: 0.375rem 40rem 0.125rem 7.25rem;
}

.NavLinks {
  display: flex;
  list-style-type: none;
  margin-right: 5%;
  gap: 10%;
}

