.navbar {
  display: flex;
  height: 5.938rem;
  width: 100%;
  background-color: #ffff;
  align-items: center;
  border-bottom: solid 1px #e8e8e8;
}

.logo {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 5%;
  top: 6%;
}

.logo-title {
  color: #000;
  font-size: 1.875rem;
  font-weight: bold;
  margin: 0.375rem 40rem 0.125rem 7.25rem;
}

.NavLinks {
  display: flex;
  list-style-type: none;
  margin-right: 5%;
  gap: 10%;
}

.rocketList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 44px;
  margin-left: 5%;
  margin-right: 5%;
}

.rocketCard {
  display: flex;
  justify-content: flex-start;
  gap: 22px;
}

img {
  width: 30%;
  height: auto;
  object-fit: contain;
}

.status {
  background-color: blue;
}

.missions {
  margin: 50px;
  text-align: left;
}

.missions-table {
  border: 1px solid;
}

tr {
  width: 100%;
}

td {
  padding: 5px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

table th {
  padding: 15px;
}

